<div class="total-cont">
  <div class="form-title"></div>

  <div class="form-cont" >
    <form action="/employees/add" method="post">
  
      <div class="form-group">
  
        <div class="formControl">
          <label for="f_name">First Name</label>
          <input type="text" name="f_name" id="f_name">
        </div>
    
        <div class="formControl">
          <label for="l_name">Last Name</label>
          <input type="text" name="l_name" id="l_name">
        </div>
  
      </div>
  
      <div class="formControl">
        <label for="email">Email</label>
        <input type="email" name="email" id="email">
      </div>
  
      <div class="form-group">
  
        <div class="formControl">
          <label for="dep">Department</label>
          <select name="dep" id="dep">
            <option value="1">Operations</option>
            <option value="2">Sales & Marketing</option>
            <option value="3">Administration</option>
            <option value="4">Accounts</option>
          </select>
        </div>
  
        <div class="formControl">
          <label for="pos">Position</label>
          <select name="pos" id="pos">
            <option value="1">Supervisior</option>
            <option value="2">Assistant Supervisior</option>
            <option value="3">Staff</option>
          </select>
        </div>
  
      </div>
  
      <div class="btn-cont">
          <button>Send</button>
      </div>
    </form>
  </div>



</div>
