<style>
  .nav-cont{
    margin-bottom: 20px;
    width: 100%;
  }

  .navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(51, 51, 51, 0.726);
    height: 70px;
    padding: 0px 20px;
  }

  li{
    display: inline-block;
  }

  .nav-cont a{
    /* font-family: 'Amatic SC', cursive; */
    font-family: 'Lato' , sans-serif;
    font-weight: 800;
    font-size: 22px;
    color: #ffe600;
  }

</style>

<div class="nav-cont">
  <nav>
    <ul class="navbar">
      <li>
        <a href="/">
        <span>Serhant</span>  
        <span>Construction</span> 
        <i class="fa-solid fa-helmet-safety"></i> 
        </a> 
      </li>
    
      <li>
        <ul class="navbar"style="gap:2rem; padding: 10px;" >
          <li> <a href="/employees">Employees</a> </li>
          <% if (my_session.loggedIn) {%> 

          <% if (my_session.department = 'Accounts') {%> 
          <li> <a href="/salaries">Salaries</a> </li>
          <% } %>  

          <li> <a href="/salaries/employee/<%= my_session.emp_id%>">My Salary</a> </li>
          
          <% } %>  
        </ul>
      </li>

      <li>
         <% if(!my_session.loggedIn){ %> 
          <a href="/login">Login</a>
         <% }else{ %> 
          <a href="/login/logout">Logout</a>
         <%  }%> 
      </li>
    </ul>
  </nav>
</div>

