<!DOCTYPE html>
<html>
  <head>  

    <link rel="stylesheet" href="/stylesheets/style.css" />
		<script
			src="https://kit.fontawesome.com/7932ed34bd.js"
			crossorigin="anonymous"
		></script>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Amatic+SC&family=Comfortaa:wght@300&family=Dancing+Script&family=Lato:wght@100&family=Montserrat:wght@100;200&family=Mukta:wght@200&family=Poppins:wght@200&family=Source+Sans+3&family=Zen+Loop&display=swap"
			rel="stylesheet"
		/>
    <title> Serhant Construction </title>
  </head>
  <body>
    <%-include('../partials/navbar.ejs') %> 
    <main>
      <%-body %> 
    </main>
    
  </body>
</html>