*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #00B7FF;
}

html { height: 100%; }

body{
  position: relative;
  min-height: 100%;
  padding-bottom: 50px;
  
}

.form-group.on{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}






/* font-family: 'Amatic SC', cursive;
font-family: 'Comfortaa', cursive;
font-family: 'Dancing Script', cursive;
font-family: 'Lato', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Mukta', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Source Sans 3', sans-serif;
font-family: 'Tapestry', cursive;
font-family: 'Zen Loop', cursive; */